name: Build Chromium iOS Minimal

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15 
    
    steps:
      - name: Maximize Disk Space
        run: |
          echo "Checking available storage..."
          df -h
          sudo rm -rf /Applications/Xcode_26.1.1.app /Applications/Xcode_26.1.app /Applications/Xcode_26.2.0.app /Applications/Xcode_26.2.app /Applications/Xcode_26.3_Release_Candidate.app /Applications/Xcode_26.3.0.app /Applications/Xcode_26.3.app /Applications/Xcode_26.3.app /Applications/Xcode.app /Applications/Xcode_16.*.app /Applications/Xcode_16.*.app /Applications/PowerShell.app 

          ls /Applications/
          sudo rm -rf /usr/local/share/dotnet
          sudo rm -rf /opt/ghc
          
      - name: Install depot_tools
        run: |
          git clone --depth 1 https://chromium.googlesource.com/chromium/tools/depot_tools.git
          # Persist PATH across steps
          echo "$GITHUB_WORKSPACE/depot_tools" >> $GITHUB_PATH
          echo "$GITHUB_WORKSPACE/depot_tools/python-bin" >> $GITHUB_PATH

      - name: Fetch Minimal Source
        run: |
          mkdir chromium && cd chromium
          fetch --nohistory ios
          
      - name: Post-Fetch Cleanup (Space Optimization)
        run: |
          cd chromium/src
          find . -name ".git" -type d -exec rm -rf {} +
          echo "Space after deleting .git:"
          df -h

      - name: Setup GN Config
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          cd chromium/src
          python3 ios/build/tools/setup-gn.py

          echo 'is_debug = false' >> out/Release-iphonesimulator/args.gn
          echo 'symbol_level = 0' >> out/Release-iphonesimulator/args.gn
          echo 'blink_symbol_level = 0' >> out/Release-iphonesimulator/args.gn
          echo 'ios_enable_code_signing = false' >> out/Release-iphonesimulator/args.gn
          
          gn gen out/Release-iphoneos

      - name: Compile Minimal Chrome
        run: |
          cd chromium/src
          # autoninja manages CPU threads automatically
          autoninja -C out/Release-iphoneos chrome

      - name: Prepare Chromium for iOS binaries for release
        run: |
          cd chromium/src
          pushd out/Release-iphoneos
          mkdir Payload
          mv Chromium.app Payload/
          7z a -tzip -mx=9 Chromium.ipa Payload
          cp Chromium.ipa ~/
          cp Chromium.ipa ~/chromium/src/
          popd

      - name: Upload release
        uses: svenstaro/upload-release-action@2.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: Chromium.ipa
          tag: v1.0
          file_glob: true
